* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: block;
    text-align: center;
    color: #f4f4f4;
    margin-bottom: 1rem;
}

h1,
h2,
p {
    color: #f4f4f4;
    text-align: center;
}

.center {
    display: block;
    margin: auto;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 520px;
    background: #333;
}

#container p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#container img:first-child {
    width: 200px;
}

#logowanie h1 {
    font-size: 2.5rem;
    padding: 1rem;
}

#logowanie form input {
    display: block;
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 0.7rem;
    margin: 0rem auto 1rem auto;
}

#logowanie input[type="submit"],
button {
    background: coral;
    color: #fff;
    width: 80%;
    font-size: 1.4rem;
    transition: background 0.1s ease-in-out;
}

#logowanie input[type="submit"]:hover,
button:hover {
    background: rgb(222, 114, 102);
    cursor: pointer;
}

button {
    display: block;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 3rem auto 1.5rem auto;
}

/* iksik od zamykania */
#iks {
    flex: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#iks:hover {
    transform: rotate(180deg);
}

#iks div {
    position: relative;
    top: 8.5px;
    width: 100%;
    height: 1px;
    background: #f4f4f4;
    transform: rotate(45deg);
}

#iks div::before {
    content: '';
    position: absolute;
    background: inherit;
    width: 100%;
    height: 1px;
    transform: rotate(90deg);
}